rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Para desarrollo/emulador, puedes dejarlo así:
      allow read, write: if true;
    }
  }
}