# For development, all the environment variables are set in the compose.yaml file,
# except from external API keys, which must be set here.

FOOTBALL_API_KEY=your_api_key_here

# For production, the following environment variables must be set in your
# GitHub Repo > Settings > Secrets and Variables > Actions > Repository secrets > New repository secret:

# GCP_SA_KEY
# FIREBASE_SERVICE_ACCOUNT
# IONIC_PROD_ENV_FILE
# MDB_DB_USER
# MDB_DB_PASSWORD
# SB_DB_USER
# SB_DB_PASSWORD
# FOOTBALL_API_KEY
